*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.flex{
    display: flex;

}
.flex-wrap{
    flex-wrap: wrap;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.a-content-center{
    align-content: center;
}



.container{
    width: 100%;
}
.navbar{
    width: 100%;
    background-color: #F7F7F7;
    padding: 0 20px;
}

.left-bar img{
    width: 200px;
}
.right-bar{
    width: 660px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.enquire-now button{
    border: none;
    outline: none;
    background-color: white;
    color: rgba(244, 72, 72, 0.842);
    width: 90px;
    padding: 6px 0;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
}

a img{
    width: 70px;
    height: 70px;
}

@media (max-width: 800px) {
    .container{
        width: 100%;
    }
    .navbar{
        width: 100%;
        background-color: #F7F7F7;
        padding: 0 20px;
    }
}



.head-section{
    width: 100%;
    height: 500px;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./backgroundimage.jpg');
}




/* Full Stack Styling Start */

/* .hyderabad-1{
    width: 100%;
    height: 50px;
    background-color: #1778B0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
} */

.project-based-section{
    width: 100%;
    height: auto;
    padding: 2.5rem 0;
    /* background-color: #223743; */
}
.full-stack-details{
    text-align: center;
    padding-bottom: 1rem;
    /* color: white; */
    font-family: "Poppins", sans-serif;
}

.built-sites span{
    width: auto;
    padding: 5px 10px;
    height: auto;
    /* color: #E1362F; */
    /* background-color: white; */
    border-radius: 3px;
    text-align: center;
}
.built-sites{
    display: flex;
    justify-content: center;
}
.jobs-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.jobs-image img{
    padding-top: 1rem;
    width: 1000px;
}

.company-title{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;

}
  
  
  .row {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* padding: 10px; */
    font-size: 25px;
    color: #1778B0;
    font-family: "Poppins", sans-serif;
  }
  
  
  
  .first {
   flex: 1 1 15rem;
   text-align: center;
  }
  
  .lig span{
    font-size: 40px;
    text-align: center;
    color: #1778B0;
    font-weight: 600;
  }
  
  .text-ligh{
    color: #54595f;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
  }

.list1 i, .list2 i{
    color: #1778B0;
}


.interviews-title{
    color: #1778B0;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.batch-details{
    width: 350px;
    height: 300px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;

}

.batch-details-aws{
    width: 350px;
    height: 200px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
}

.highlights-title{
    font-family: "Poppins", sans-serif;

}


.grid{
    gap: 5px;
    margin: auto;

}

.grid-child{
    border-radius: 3px;
}

.advantages-title{
    text-decoration: underline;
}

.images img{
    width: 45% !important;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode:darken;
}

.page-hero{
    width: 100%;
    height: 600px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url("https://ashokainstitute.com/assets/images/banners5.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("https://images.pexels.com/photos/3277808/pexels-photo-3277808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
    width: 700px;
}
.hero-matter{
    width: 100%;
    height: 550px;
}

.wisdom-title{
    font-size: 3.5rem;
}

.wisdom-caption{
    font-size: 1.5rem;
}

.row-faculty{
    width: 100px;
    height: 100px;
    object-fit: contain;

}


  @media (max-width: 1000px) {
    .jobs-image{
        width: 100%;
    }
    .jobs-image img{
        width: 100%;
        padding: 1rem;
    }
  }

  @media (max-width: 800px) {
    .batch-details{
        width: 350px;
        height: auto;
        border-radius: 3px;
        font-family: "Poppins", sans-serif;
    
    }
    .batch-details-aws{
        width: 350px;
        height: auto;
        border-radius: 3px;
        font-family: "Poppins", sans-serif;
    }
    .page-hero img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .page-hero{
        width: 100%;
        height: 450px;
    }
    
    .hero-title{
        width: 100%;
    }
    .hero-matter{
        width: 100%;
        height: 450px;
        padding-left: 1.5rem !important;
    }
    
    .wisdom-title{
        font-size: 2.5rem;
    }
    
    .wisdom-caption{
        font-size: 1.5rem;
    }
  }


  @media (max-width: 500px) {
    .images img{
      width: 100% !important;
    }
    td, th{
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .planning-text{
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    .form-container{
        width: 100%;
        padding: 0;
      }
      .form-inpt{
        padding: 1px;
      }

    

      .page-hero{
        width: 100%;
        height: 450px;
    }
    
    .hero-title{
        width: 100%;
    }
    .hero-matter{
        width: 100%;
        height: 450px;
        padding-left: 1rem !important;
    }
    
    .wisdom-title{
        font-size: 2rem;
    }
    
    .wisdom-caption{
        font-size: 1rem;
    }

    .fs-text{
        font-size: 12px !important;
      }

      .fs-text-3{
        font-size: 20px !important;
      }
      .fs-text-5{
        font-size: 25px !important;
      }
      .fs-text-4{
        font-size: 15px !important;
      }
  }




  @media (max-width: 300px) {
    .list-group{
        width: 100%;
    }
    .form-container{
        width: 100%;
        padding: 1rem;
        font-size: 12px;
      }
      .form-container form select optgroup option{
        font-size: 12px;

      }
      .form-inpt{
        padding: 0;
      }
      .images img{
        width: 120% !important;
      }

      .page-hero{
        width: 100%;
        height: 400px;
    }
    
    .hero-title{
        width: 100%;
    }
    .hero-matter{
        width: 100%;
        height: 400px;
        padding-left: 1rem !important;
    }
    
    .wisdom-title{
        font-size: 1.5rem;
    }
    
    .wisdom-caption{
        font-size: 0.8rem;
    }
    .fs-text-4{
        font-size: 14px !important;
      }

  }






  td, th{
    width: 300px;
    text-align: center;
  }

  .form-container{
    width: 500px;
    padding: 2.5rem;
  }
  
  .active{
    color: #2F3974 !important;
  }

  .text-wisdom{
    color: #2F3974;
  }
  .text-wisdom-50{
    color: #2f397482;
  }

  .bg-wisdom{
    opacity: 1;
    background-color: #2F3974;
  }

  .bg-wisdom::after{
    opacity: 1;
    background-color: #2F3974;
  }
  .bg-wisdom:hover{
    background-color: #2F3974;

  }
  .text-wisdom-white{
    background-color: #F8F8F8;
  }

  .bg-wisdom-white{
    background-color: #F8F8F8;
  }
  .bg-wisdom-50{
    background-color: #7982b7ab;
  }

  .blue{
    color: #1778B0;
  }

  .bg-blue{
      opacity: 1;
      background-color: #1778B0;
  }

  .bg-blue::after{
    opacity: 1;
    background-color: #1778B0;
}

.bg-blue:hover{
    background-color: #1778B0;
}


.padding-s{
    padding-left: 10%;
}
  .row{
    gap: 5px;
  }

  .col img{
    width: 60px;
  }

  .border-wisdom{
    border: 1px solid #2F3974;
  }

  .col input{
    outline: none;
    padding-left: 5px;
    border: none !important;
    background-color: transparent;
    border-bottom: 2px solid #2F3974 !important;
  }

  /* .col input::placeholder{
    color: white;
  } */



  .fstrow, .sstrow, .tstrow,.frstrow{
    display: block;
    padding: 0px;
    aspect-ratio: 4/1;
  }

  /* .tbody:nth-child(odd){
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

  } */
  /* tr:nth-child(odd){
    background-color: #E9ECEF;


  } */

    /* .tstrow:nth-child(even){
        background-color: #E9ECEF;
    border: 1px solid black;

    }

    .fstrow:nth-child(even){
        background-color: #E9ECEF;

    }

    .sstrow:nth-child(2){
        background-color: #E9ECEF;
    }

    .frstrow:nth-child(2){
        background-color: #E9ECEF;
    } */

  .table-data1{
    font-size: 17px;
    padding: 5px;
  }
  .table-data2{
    font-size: 17px;
    padding: 6px;


  }
  .table-data3{
    font-size: 17px;
    padding: 6px;

  }
  .table-data4{
    font-size: 17px;
    padding: 6px;

  }
  .table-data4 button{
    border: none;
    width: 120px;
    padding: 5px;
    color: black;
    background-color: transparent;
    font-size: 14px;
    color: #1778B0;
    font-weight: 600;
  }

  .table-data4 button:hover{
    color: #404040;

  }


  @media (max-width:500px) {
    .fstrow, .sstrow, .tstrow,.frstrow{
        display: block;
        gap: 0px;
        padding: 5px 0;
    
      }

      .table-data1{
        font-size: 13px;
        padding: 5px;
      }
      .table-data2{
        font-size: 13px;
        padding: 5px;
    
    
      }
      .table-data3{
        font-size: 13px;
        padding: 5px;
    
      }
      .table-data4{
        font-size: 13px;
        padding: 5px;
    
      }

      /* .table-data4 button{
        width: 100%;
      } */
  }


  @media (max-width:900px) {
    .fstrow, .sstrow, .tstrow,.frstrow{
        display: block;
        gap: 0px;
        padding: 5px 0;
    
      }

      .table-data1{
        font-size: 15px;
        padding: 5px;
      }
      .table-data2{
        font-size: 15px;
        padding: 5px;
    
    
      }
      .table-data3{
        font-size: 15px;
        padding: 5px;
    
      }
      .table-data4{
        font-size: 15px;
        padding: 5px;
    
      }
  }

  .word-break-10{
    word-spacing: 10px;
  }
  .word-break-20{
    word-spacing: 20px;
  }
  .word-break-30{
    word-spacing: 30px;
  }
  .word-break-40{
    word-spacing: 40px;
  }

  .active-form{
    width: 100%;
    height: 100vh;
    display: inherit;
    background-color: rgba(0,0,0,0.6);
    padding: 1.2rem;
  }

  .cur-pot{
    cursor: pointer;
  }

  .targetElement{
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0,0,0,0.6);
    padding: 1.2rem;
  }

  @media (max-width:500px) {
    .active-form{
      width: 100%;
      height: auto;
      display: inherit;
      margin: auto;
      background-color: transparent;
      padding: 1.2rem;
    }
    .targetElement{
      width: 100%;
      height: auto;
      display: none;
      margin: auto;
      background-color: transparent;
      padding: 1.2rem;
    }
    .middle{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
    }
  }

  .middle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }

  .margin-auto{
    margin: auto;

  }